
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: yellowgreen;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  #summary p {
    font-style: italic;
  }
  
  
  #skills ul {
    list-style-type: none;
    padding: 0;
    column-count: 2;
  }
  
  #skills li {
    margin-bottom: 8px;
  }
  
 
  #contact p {
    margin-bottom: 8px;
  }
  
 
  
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
  }
  